body {
    text-decoration:none;
    font-family:sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;
}



a:link {
    color: #000000;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #333333;
    font-weight:bold;
    text-decoration: none;
}
