
body{
    font-size: 14px;
    font-family: sans-serif, serif;
}
li{
    display:inline;
}
a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #ffffff;
    background-color: #70C6C6;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

a:hover, a:active {
    background-color: #65B2B2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
