ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float:left;
}
#navigation a:link, #navigation a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #ffffff;
    background-color: #A31947;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
    background-color: #931640;
}
#contact{
    text-decoration: none;
}
#header-image{
width= 100%; 
height=600px;
filter: saturate(50%);
//Browser Specific
-webkit-filter: saturate(50%);
-moz-filter: saturate(50%);
-o-filter: saturate(50%);
-ms-filter: saturate(50%);
}

